@import "tailwindcss";
@plugin "daisyui" {
  themes: winter, night, dark, coffee, abyss;
}

@plugin "daisyui/theme" {
  name: "interactive-dark";
  default: true;
  color-scheme: dark;

  --color-base-100: #1c1a2e;
  --color-base-200: #25223d;
  --color-base-300: #2e2a4c;
  --color-base-content: #e6e8ec;

  --color-primary: #6d8eff;
  --color-primary-content: #ffffff;

  --color-secondary: #bf9fff;
  --color-secondary-content: #1c1a2e;

  --color-accent: #8ef5ff;
  --color-accent-content: #1c1a2e;

  --color-neutral: #55516a;
  --color-neutral-content: #e6e8ec;

  --color-info: #4da8f5;
  --color-info-content: #ffffff;

  --color-success: #4ade80;
  --color-success-content: #1c1a2e;

  --color-warning: #facc15;
  --color-warning-content: #1c1a2e;

  --color-error: #f87171;
  --color-error-content: #ffffff;

  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "lightnpc";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.004 49.25);
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(26% 0.007 34.298);
  --color-base-content: oklch(97% 0.001 106.424);
  --color-primary: oklch(70% 0.213 47.604);
  --color-primary-content: oklch(98% 0.016 73.684);
  --color-secondary: oklch(69% 0.17 162.48);
  --color-secondary-content: oklch(97% 0.021 166.113);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(26% 0.007 34.298);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}

html {
  /* font-family: "Poppins", sans-serif; */
}
